<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Ruby1" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Ruby21\bin\ruby.exe|C:\siteler\sitem\public\dispatch.fcgi" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
